language: python

dist: xenial

sudo: false

addons:
  apt:
    packages:
    - rubberband-cli
    - libsndfile1
    - sox

cache:
  directories:
  - $HOME/env

notifications:
  email: false

python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6
    - 3.7

before_install:
    - bash .travis_dependencies.sh
    - export PATH="$HOME/env/miniconda$TRAVIS_PYTHON_VERSION/bin:$PATH";
    - hash -r
    - source activate test-environment

install:
    # install your own package into the environment
    - pip install -e .[tests]

script:
    - pytest

after_success:
    - coveralls
